main {
    min-height: 80vh;
}
.navbar-brand {
  font-size: 1.8rem;
}
.search-btn {
  color: teal;
  border: 2px solid teal;  
  }
.search-btn:hover {
  color: white;
  background-color: teal;
  border: 2px solid teal;  
  transition: all 0.5s ease;
}

h1 {
    font-size: 1.8rem;
    padding: 1rem 0 0;
    margin-bottom: 0;
}
h2 {
    font-size: 1.1rem;
    padding: 0.5rem 0;
}

h3 {
    padding: 1rem 0;
}

.rating span {
    margin: 0.1rem;
}

.qty-select {
    width: auto;
}
/*productEditScreen Sizes in Stock*/
.size-label {
  font-weight: bold;
  margin-bottom: 0;
}
.text-center {
  text-align: center;
  margin-bottom: 8px;
}
/* carousel */
/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: black;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
.carousel-inner {
background-color: white;
}
@media (min-width: 1000px) {
  .carousel-caption h2 {
    font-size: 1.4rem;
  }
}
